body {
  font-family: "monserrat", sans-serif;
  background-size: cover;
  background-position: top center;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 400px;
}

body .app-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

body .app-wrap header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 15px 15px;
}

body .app-wrap header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #313131;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

body .app-wrap header input :focus {
  background-color: rgba(255, 255, 255, 0.7);
}

body .app-wrap main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .app-wrap main .location .city {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

body .app-wrap main .location .date {
  color: #fff;
  font-size: 16px;
}

body .app-wrap main .current .temp {
  color: #fff;
  font-size: 100px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.5);
}

body .app-wrap main .current .temp span {
  font-weight: 500;
}

body .app-wrap main .current .weather {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
}

body .app-wrap main .current .high-low {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

body {
  -webkit-transition: 10s;
  transition: 10s;
  background-image: url(../images/bg1.jpg);
  -webkit-animation-name: animation;
          animation-name: animation;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes animation {
  0% {
    background-image: url(../images/bg2.jpg);
  }
  25% {
    background-image: url(../images/bg3.jpg);
  }
  50% {
    background-image: url(../images/bg4.jpg);
  }
  75% {
    background-image: url(../images/bg5.jpg);
  }
  100% {
    background-image: url(..images/bg1.jpg);
  }
}

@keyframes animation {
  0% {
    background-image: url(../images/bg2.jpg);
  }
  25% {
    background-image: url(../images/bg3.jpg);
  }
  50% {
    background-image: url(../images/bg4.jpg);
  }
  75% {
    background-image: url(../images/bg5.jpg);
  }
  100% {
    background-image: url(..images/bg1.jpg);
  }
}
/*# sourceMappingURL=style.css.map */